@import './variables', './mixins';

.review-text {
  color: white;
  font-size: 0.7rem;
}

.review-header {
  color: white;
  font-size: fontSize(large);
  position: relative;
  width: 25%;
  text-align: center;
}

.div {
  color: white;
  font-size: 3rem;
}

.edit-link {
  margin-top: 1rem;
}
