@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css);
@import './variables';

.container {
  align-items: center;
  justify-content: center;
}

.rating-wrap {
  border-width: thick;
  width: max-content;
  margin-left: 400pt;
  padding: 15px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.center {
  width: 190px;
  margin: auto;
}

#rating-value {
  width: 110px;
  margin: 40px auto 0;
  padding: 10px 5px;
  text-align: center;
  box-shadow: inset 0 0 2px 1px rgba(46, 204, 113, 0.2);
}

/* Styling star rating */

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}

.rating > label::before {
  content: '\f005';
  font-family: FontAwesome;
  margin: 5px;
  font-size: 1.5rem;
  display: inline-block;
}

.rating > .halffull::before {
  content: '\f089';
  position: absolute;
  cursor: pointer;
}

.rating > label {
  color: #ddd;
  float: right;
  cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #fce138;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input.checked ~ label:hover ~ label {
  color: #fce138;
}

#textarea {
  margin-left: 250pt;
  width: 60%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

#btn {
  margin-left: 250pt;
  background-color: $primary-clr; /* Green */
  border: none;
  color: $text-clr;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
