$primary-clr: rgba(58, 39, 72, 0.7);
$dark-primary: rgba(58, 39, 72, 0.5);

$text-clr: rgb(255, 255, 255);
$secondary-text: rgb(244, 167, 64);

$font-sizes: (
  'small': 1.5rem,
  'medium': 2rem,
  'large': 3rem,
);

$font-weights: (
  'regular': 300,
  'medium': 500,
  'bold': 700,
);
