$primary-clr: rgb(58, 39, 72);

$text-clr: rgb(244, 167, 64);

$font-sizes: (
  'small': 1.5rem,
  'medium': 2rem,
  'large': 3rem,
);

$font-weights: (
  'regular': 300,
  'medium': 500,
  'bold': 700,
);
