$primary-clr: rgb(39, 39, 39);
$secondary-clr: rgb(140, 200, 40);
$text-clr: rgb(255, 255, 255);

$font-sizes: (
  'small': 1.5rem,
  'medium': 2rem,
  'large': 3rem,
);

$font-weights: (
  'regular': 300,
  'medium': 500,
  'bold': 700,
);
