@import './resets', './variables', './functions', './mixins';

body {
  background-color: $primary-clr;
  color: $text-clr;
}

.header {
  background-color: $primary-clr;
  #{&}__container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }
  img {
    width: 50%;
    height: auto;
  }
  .login {
    @include flexCenter(column);
    font-size: fontSize(small);
    padding-right: 2rem;
    a {
      color: $text-clr;
      text-decoration: none;
    }
  }
}

// nesting
.main {
  @include flexCenter(row);
  width: 80%;
  margin: 0 auto;

  #{&}__div {
    font-weight: weight(medium);
    font-size: fontSize(medium);
    width: 30%;
    height: 5rem;
  }
}
