@import './resets', './variables', './functions', './mixins', './rating',
  './login', './dashboard', './single-company';

body {
  background-color: $primary-clr;
  font-family: Arial, Helvetica, sans-serif;
  a {
    color: $text-clr;
    text-decoration: none;
    &:hover {
      color: $secondary-text;
    }
  }
}

.header {
  #{&}__container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }
  img {
    height: 7rem;
    border-radius: 20px;
  }
  .nav {
    @include flexCenter(column);

    font-size: fontSize(small);
    padding-right: 2rem;
  }
}

// nesting
.main {
  @include flexCenter(row);
  flex-wrap: wrap;
  margin: 2rem auto;

  width: 100%;
  a {
    margin-top: 1rem;
  }
  #{&}__content {
    @include flexCenter(column);
    width: 25%;
    height: auto;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 20px;
    border: 2px solid $primary-clr;
  }

  #{&}__div {
    @include flexCenter(column);

    // background-color: $dark-primary;
    font-weight: weight(medium);
    font-size: fontSize(medium);
    width: 30%;
    height: 10rem;
    margin: 1rem;
    border-radius: 20px;
  }
  #{&}__reviews {
    color: $text-clr;
  }
}

.btn-no-style {
  color: $text-clr;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: fontSize(small);
  font-family: Arial, Helvetica, sans-serif;
  &:hover {
    color: $secondary-text;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;

  background-color: $dark-primary;

  .contact {
    color: $text-clr;
    font-size: fontSize(xsmall);
  }
  img {
    height: 4rem;
    border-radius: 20px;
  }
}
