<div class='main__div'>
  <div>
    <a href='/company/{{id}}'><img
        src='/images/{{company_name}}.png'
        width='100px'
      /></a>

  </div>

  <a href='/company/{{id}}'> {{company_name}} </a>

</div>