<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/main.css' />
    <link rel='stylesheet' href='/css/rating.css' />
    <title>Teksess</title>
  </head>
  <header class='header'>
    <div class='header__container'>
      <div class='logo'>
        <a href='/'>
          <img src='/images/teksess logo.png' alt='Teksess Logo' />
        </a>

      </div>

      <div class='nav'>

        <button id="logout" class="btn-no-style">logout</button>
        <a href='/login'>login</a>

      </div>

    </div>
  </header>
  <body>
    <div>
      {{{body}}}
    </div>
  </body>
  <footer></footer>
  <script src='/javascript/login.js'></script>
  <script src="/javascript/logout.js"></script>
</html>