<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/main.css' />
    <title>TekSess</title>
  </head>
  <div id='wrapper'>
    <div id='content-wrap'>
      <header class='header'>

        <div class='header__container'>
          <div class='slogan-wrapper'>
            <div class='logo'>
              <a href='/'>
                <img src='/images/teksess logo.png' alt='Teksess Logo' />
              </a>

            </div>
            <div class='slogan'>
              Success, Straight from Texas!
            </div>
          </div>

          <div class='nav'>
            {{#if loggedIn}}
              <button id='logout' class='btn-no-style all-btns'>Logout</button>
              <a href='/Dashboard' class='all-btns'>Dashboard</a>

            {{else}}
              <a href='/login' class='all-btns'>Login</a>
            {{/if}}
            <a href='/about-us' class='all-btns'>About Us</a>
          </div>

        </div>
      </header>

      <body>

        <div>
          {{{body}}}
        </div>
      </body>
    </div>

    <footer>

      <div class='contact'>
        Contact us &#64
        <a href='mailto: Contact@Teksess.com'>Contact@TekSess.com</a>
      </div>
      <div class='logo'>
        <img src='/images/teksess logo.png' alt='Teksess Logo' />
      </div>

    </footer>

  </div>
  {{#if loggedIn}}
    <script src='/javascript/logout.js'></script>
  {{/if}}
</html>