<div class='about-wrapper'>
  <div class='top-text'>
    <div>
      <h3 class='about-text'>ABOUT US</h3>
    </div>

    <div class='about-text'>
      Teksess a social website where users can find valuable insights from
      previous employees about a company's culture, benefits, ratings and more.
      The user will be able to rate and review by posting reviews on Company
      profiles.
    </div>
    <br />
    <br />
    <h3 class='about-text'>Motivation for development</h3>
    <div class='about-text'>

      TekSess is a tool of empowerment for workers providing insight and
      transparency about company work culture and benefits.
    </div>
    <br />
    <br />
  </div>

  <div class='about-wrapper'>

    <h2 class='about-text founders'> Founders </h2>

    <div class='founder-info card'>
      <h4 class='about-text founder-name'>Jide Ogunbanjo</h4>
      <article class='about-text'>
        Jide is a Full Stack Web Developer with experience in software
        development and electronics. He has completed a certificate from the UT
        Austin coding bootcamp and holds a Mechanical Engineering degree from
        the University of Texas at San Antonio. He is versed in Full stack
        technologies like HTML, CSS, JavaScript, Node.js, Handlebars.js,
        Express; Data Management technologies like mySQL, Oracle, postgreSQL;
        while electronics experience include Allen Bradley, Omron and Siemens
        PLC's, sensors, servo-motors and all sorts of electro-mechanical
        devices. Also a certified Scrum Master in Agile methodologies, and
        project management. Passionate about approaching programming challenges
        from different angles and collaborating with others to create meaningful
        software applications. He is an effective communicator which has been
        useful in keeping customers and management adequately informed about job
        site progress while collaborating with vendors and contractors to meet
        project deadlines and deliverables. His problem solving skills, and
        persevering attitude have helped provide solutions to challenging
        engineering problems. He is also passionate about soccer, and his
        community. His community involvements include volunteering his saturday
        mornings to coach children to develop their skills, team play, learn the
        basics of soccer, socializing and having fun. He is excited for the
        opportunity to apply his skills in a fast paced, collaborative, growth
        focused environment; with a quality driven team to develop new ideas,
        technologies and products that will achieve maximum customer
        satisfaction.
      </article>
      <img
        src='images/jide-screenshot.jpg'
        alt='Jide Ogunbanjo'
        class='about-imgs'
      />

      <br />
      <a href='https://www.linkedin.com/in/jide-ogunbanjo/'>Connect with me on
        LinkedIn</a>
      <br />
      <a href='https://github.com/JideOgun'>Check out my projects on Github</a>
    </div>

    <div class='founder-info card'>
      <h4 class='about-text founder-name'>Craig Jensen</h4>
      <article class='about-text'>
        Craig is a Full-Stack web developer with a strong background in surgical
        services and anesthesia. He has 20 years of experience in Surgery as a
        Certified Anesthesia Technician. Completing the UT Coding Bootcamp
        certificate in April 2022. My skills include HTML, CSS, JavaScript,
        NODE.js, Handlebars, Sass, Express, MySQL. Web development is a
        fast-paced environment where learning skills quickly and efficiently is
        a key to success. Medicine is similar, in that he has to learn new
        equipment, processes, and procedures within days or even hours of
        utilization.
      </article>
      <img src='images/craig.jpg' alt='Craig Jensen' class='about-imgs' />
      <br />
      <a href='https://www.linkedin.com/in/craig-jensen-b6594594/'>Connect with
        me on LinkedIn</a>
      <br />
      <a href='https://github.com/CraigMJensen'>Check out my projects on Github</a>
    </div>

    <div class='founder-info card'>
      <h4 class='about-text founder-name'>Felipe Zintzun</h4>
      <article>

      </article>
      <img src='' class='about-imgs' />
    </div>

    <div class='founder-info card'>
      <h4 class='about-text founder-name'>Micheal Means</h4>

      <article class='about-text'>
        Michael is a full stack web developer with a certificate from the UT
        Austin Coding Bootcamp, with experience in HTML, CSS, JavaScript,
        Node.js, Handlebars.js, express.js, mySQL, and a bachelors degree in
        diesel mechanics, specializing in engine valve and piston timing,
        hydraulic systems, and hydrostatic transmissions.
      </article>
      <img src='' class='about-imgs' />
    </div>

    <div class='founder-info card'>
      <h4 class='about-text founder-name'>Judy Martinez</h4>
      <article class='about-text'>
        Judy is a full-stack web developer with experience in artificial
        intelligence, machine learning, and natural language
        processing/understanding. Her interest in natual language led her to
        learn programming languages as well. She is especially passionate about
        bridging the congruent relationship between humans and machines.
      </article>
      <img src='images/judy.png' class='about-imgs' />
      <br />
      <a href='https://www.linkedin.com/in/judy-mtz/'>Connect with me on
        LinkedIn</a>
      <br />
      <a href='https://github.com/judy-martinez'>Check out my projects on Github</a>
    </div>

  </div>
</div>