

{{#if review.length}}
  <section>
    <h2 class="review-header"> Reviews </h2>
    
      {{#each review as |i|}}
          <div class="reviews">
          {{this.reviews_text}}
          <a href='/dashboard/edit/{{user_id}}' class='edit-link'>Edit</a>
          </div>
      {{/each}}
    
  </section>

  <div class="div">
sdvefverfvdfv
  </div>
{{/if}}