{{!-- {{#if data.length}}
<section>
  <h2>Companies</h2>
  <ol>
    {{#each data as |i|}}
    <li>
      {{!-- {{> post-info post}} --}}
{{!-- <button>
      {{ this.company_name }}
      </button>
      <a href="/dashboard/edit/{{this.is}}" class="edit-link">Edit post</a><
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}  --}}

{{#if review.length}}
  <section>
    <h2>Reviews</h2>
    <ol>
      {{#each review as |i|}}
        <li>
          {{!-- {{> post-info post}} --}}

          {{this.reviews_text}}
          <a href='/dashboard/edit/{{this.is}}' class='edit-link'>Edit</a>
        </li>
      {{/each}}
    </ol>
  </section>
{{/if}}