
 {{#each reviewsArr}}
<div>
This company has {{ this.length }} reviews
</div>
{{/each}} 

<div class='main'>
  {{#each companies as |company|}}
  
      
        
        {{> company-info company}}
      
  {{companies.reviews.length}}
  {{/each}} 

 {{#each avgArr}}
<div id="avg">
{{ this }}
</div>
<br>
{{/each}}
<br>



</div>