
 

<div class='main'>
  {{#each companies as |company|}}

        {{> company-info company}}
      
  {{companies.reviews.length}}
  {{/each}} 
</div>
{{!-- <div>
      {{> company-info this}}
</div> --}}
