* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

@media (max-width: 500px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 80%;
            flex: 1 0 80%;
  }
  .wrapper .login-form {
    position: relative;
  }
}

@media (max-width: 768px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 75%;
            flex: 1 0 75%;
  }
  .wrapper .login-form {
    position: relative;
  }
}

.login-form,
.signup-form {
  padding: 4rem;
}

.login-form button,
.signup-form button {
  position: absolute;
  bottom: 0;
  font-size: 2rem;
}

.login-form button:hover,
.signup-form button:hover {
  color: #f4a740;
}

.login-form label,
.signup-form label {
  color: white;
  font-size: 1.5rem;
}

.login-form input,
.signup-form input {
  border-radius: 20px;
  height: 2rem;
  margin: 0.5rem;
}

.login-form input:focus,
.signup-form input:focus {
  background-color: rgba(58, 39, 72, 0.5);
}

.review-text {
  color: white;
  font-size: 0.7rem;
}

.review-header {
  color: white;
  font-size: 3rem;
  position: relative;
  width: 25%;
  text-align: center;
}

.div {
  color: white;
  font-size: 3rem;
}

.edit-link {
  margin-top: 1rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rating-wrap {
  border-width: thick;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 1rem;
  padding: 15px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 1px solid rgba(58, 39, 72, 0.7);
  border-radius: 20px;
}

#rating-value {
  width: 110px;
  margin: 40px auto 0;
  padding: 10px 5px;
  text-align: center;
  -webkit-box-shadow: inset 0 0 2px 1px rgba(46, 204, 113, 0.2);
          box-shadow: inset 0 0 2px 1px rgba(46, 204, 113, 0.2);
}

/* Styling star rating */
.rating {
  border: none;
  float: left;
}

.rating input {
  display: none;
}

.rating label::before {
  content: '\f005';
  font-family: FontAwesome;
  margin: 5px;
  font-size: 1.5rem;
  display: inline-block;
}

.rating .halffull::before {
  content: '\f089';
  position: absolute;
  cursor: pointer;
}

.rating label {
  color: #ddd;
  float: right;
  cursor: pointer;
}

.rating input:checked + label:hover,
.rating input:checked ~ label:hover,
.rating label:hover ~ input:checked ~ label,
.rating input.checked ~ label:hover ~ label {
  color: #fce138;
}

input:checked + label:hover label:hover,
input:checked + label:hover label:hover ~ label,
.rating:not(:checked) label:hover,
.rating:not(:checked) label:hover ~ label {
  color: #fce138;
}

#textarea {
  width: 50vw;
  height: 150px;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #f8f8f8;
  font-size: 1rem;
  resize: none;
}

.review-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
}

.review-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review-btn #btn {
  margin: 1rem 0;
  background-color: rgba(58, 39, 72, 0.7);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
}

.review-btn #btn:hover {
  color: #f4a740;
}

.benefits-wrapper {
  position: absolute;
  text-align: center;
  left: 2.5rem;
  border: 1px solid rgba(58, 39, 72, 0.7);
  padding: 0.5rem;
}

.reviews-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#company-name {
  font-size: 1.5rem;
  color: white;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(58, 39, 72, 0.7);
}

#company-benefits {
  color: white;
}

.reviews {
  background-color: rgba(58, 39, 72, 0.5);
  padding: 10px;
  border-radius: 20px;
  margin: 5px 0;
  color: white;
  width: 60%;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review-text {
  color: white;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.review-rating .review-amt {
  padding: 0.5rem;
  border-bottom: 1px solid rgba(58, 39, 72, 0.7);
}

.review-rating #avg {
  padding: 0.5rem;
  border-bottom: 1px solid rgba(58, 39, 72, 0.7);
}

.review-img {
  text-align: center;
  padding: 0.5rem;
}

#company-name {
  text-align: center;
}

.card {
  width: 60%;
  border-radius: 20px;
}

body {
  background-color: rgba(58, 39, 72, 0.7);
  font-family: Arial, Helvetica, sans-serif;
}

body a {
  color: white;
  text-decoration: none;
}

body a:hover {
  color: #f4a740;
}

#wrapper {
  position: relative;
  min-height: 100vh;
}

@media (max-width: 500px) {
  #wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 80%;
            flex: 1 0 80%;
  }
}

@media (max-width: 768px) {
  #wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 75%;
            flex: 1 0 75%;
  }
  #wrapper .review-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  #wrapper .benefits-wrapper {
    position: relative;
    left: 0rem;
    border: none;
    width: 100%;
  }
  #wrapper .reviews {
    width: 90%;
  }
  #wrapper #textarea {
    width: 80vw;
  }
  #wrapper .card {
    width: 90vw;
  }
}

@media (max-width: 1200px) {
  #wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 80%;
            flex: 1 0 80%;
  }
  #wrapper #company-name,
  #wrapper #company-benefits {
    display: none;
  }
}

#content-wrap {
  padding-bottom: 5rem;
}

.header {
  background-color: rgba(58, 39, 72, 0.5);
}

.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 4rem;
}

.header img {
  height: 7rem;
  border-radius: 20px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  padding-right: 2rem;
}

.header a {
  padding-top: 1rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem auto;
  width: 100%;
}

.main a {
  margin: 1rem;
}

.main .main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  height: auto;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 20px;
  border: 2px solid rgba(58, 39, 72, 0.7);
}

@media (max-width: 500px) {
  .main .main__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 80%;
            flex: 1 0 80%;
  }
}

@media (max-width: 768px) {
  .main .main__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 75%;
            flex: 1 0 75%;
  }
}

.main .main__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  font-size: 2rem;
  width: 30%;
  height: 10rem;
  margin: 1rem;
  border-radius: 20px;
}

.main .main__reviews {
  color: white;
}

@media (min-width: 480px) {
  .main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}

.btn-no-style {
  color: white;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-no-style:hover {
  color: #f4a740;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: rgba(58, 39, 72, 0.5);
}

footer .contact {
  color: white;
  font-size: 1rem;
}

footer img {
  height: 4rem;
  border-radius: 20px;
}
/*# sourceMappingURL=main.css.map */